<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tony Music Player</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap-dark.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    <script src="/angular/angular.js" defer></script>
    <script src="/angular-ui-router/release/angular-ui-router.js" defer></script>
    <script src="/js/app.js" defer></script>
    <script src="/js/album/album.controller.js" defer></script>
    <script src="/js/album/album.state.js" defer></script>    
    <script src="/js/albums/albums.controller.js" defer></script>
    <script src="/js/albums/albums.state.js" defer></script>
    <script src="/js/factory/albums.factory.js" defer></script>
    <script src="/js/player.controller.js" defer></script>
    <script src="/js/factory/player.factory.js" defer></script>
    <script src="/js/sidebar.controller.js" defer></script>
    <script src="/js/factory/artists.factory.js" defer></script>
    <script src="/js/artists/artists.controller.js" defer></script>
    <script src="/js/artists/artists.state.js" defer></script>
    <script src="/js/artist/artist.controller.js" defer></script>
    <script src="/js/artist/artist.state.js" defer></script>


    
  </head>
  <body ng-app="TonyMusic">

    <div id="main" class="container-fluid">

      <div class="col-xs-2" ng-controller="sidebarControl">
        <sidebar>
          <img src="logo.png" class="logo">
          <section>
            <h4 class="menu-item active">
              <a ui-sref ="albums">ALBUMS</a>
            </h4>
          </section>
          <section>
            <h5 class="playlist-item">
              <a ui-sref="artists">ARTISTS</a>
            </h5>
          </section>          
        </sidebar>
      </div>

    <div class="col-xs-10">
      <ui-view></ui-view>
    </div>

      <footer>

        <div ng-show="getCurrentSong()" ng-controller="playerControl">
          <div class="pull-left">
            <button class="btn btn-default" ng-click="previous()">
              <span class="glyphicon glyphicon-step-backward"></span>
            </button>
            <button class="btn btn-default" ng-click="toggle()">
              <span class="glyphicon" ng-class="{'glyphicon-pause': playingStatus(),'glyphicon-play': !playingStatus()}"></span>
            </button>
            <button class="btn btn-default" ng-click="next()">
              <span class="glyphicon glyphicon-step-forward"></span>
            </button>
          </div>
          <div class="bar">
              <div class="progress" ng-click="update($event)">
                <div class="progress-bar" ng-style="{width: getProgress() + '%'}">
                </div>
              </div>
            </div>
        </div>        


      </footer>

    </div>
  </body>
</html>
